@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bottom-tg-safe {
    bottom: var(--tg-safe-area-inset-bottom, 0);
  }
}

html {
  position: fixed;
  height: auto !important;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

.root {
  position: relative;
  min-height: 100dvh;
  padding-top: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top));
  padding-bottom: var(--tg-safe-area-inset-bottom);
}
