@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  min-height: 100vh;
  overflow-y: hidden;
}

#root {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
